* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    padding: 5rem 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #216ebb;
    font-size: 30px;
    text-align: center;
    margin-bottom: 5rem;
}


/*Header*/

header {
    width: 100%;
    height: 700px;
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, hsla(193, 78%, 50%, 0.664), hsla(240, 100%, 3%, 0.452));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, hsla(193, 78%, 50%, 0.664), hsla(240, 100%, 3%, 0.452)), url(../img/portadaLanding.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    position: fixed;
    float: right;
    width: 100%;
    overflow: hidden;
    height: 70px;
    line-height: 70px;
    background: #000080;
}

.logo {
    width: 200px;
    height: 50px;
    float: left;
}

.menu {
    float: right;
}

.menu li {
    float: left;
    width: 120px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    list-style: none;
}

.menu li a {
    color: dodgerblue;
    text-decoration: none;
    font-family: 300;
    text-transform: uppercase;
    display: block;
}

.menu li:hover {
    background: dodgerblue;
}

.menu li a:hover {
    color: #FFFFFF;
}

.container-nav {
    width: 90%;
    margin: 0 auto;
}

.textos-header {
    display: flex;
    width: 48%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
}

.textos-header h1 {
    font-size: 40px;
    color: #FFFFFF;
}

.textos-header h2 {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 300;
}

.textos-header h3 {
    font-size: 28px;
    color: #FFFFFF;
    font-weight: 700;
}

.form-header {
    display: flex;
    width: 36%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 36px;
}

.textos-form-header {
    display: flex;
    justify-content: space-evenly;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* Detalle Propiedad */

main .detalle-propiedad {
    padding: 30px 0 60px 0;
}

.contenedor-detalle-propiedad {
    display: flex;
    justify-content: space-evenly;
}

.imagen-detalle-propiedad {
    width: 48%;
}

.contenido-textos {
    width: 48%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 30px 10px 0 10px;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos p {
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.detalle-propiedad1,
.detalle-propiedad2 {
    background: #cccccc;
}

.contenido-textos h3 span,
.contenido-video h3 span {
    background: #216ebb;
    color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}


/* Video */

.contenedor-video .contenido-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido-video {
    height: 150px;
    width: 100%;
    padding: 20px 0 0 0;
}


/* Footer */

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 96%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
    margin-bottom: 20px;
}

.content-widgets {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-foo h4 {
    color: #FFFFFF;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo a {
    color: #FFFFFF;
    border-bottom: 3px solid #216ebb;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-decoration: none;
}

.content-foo p {
    color: #ccc;
    border-bottom: 3px solid #216ebb;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px) {
    header {
        background-position: center;
        height: 70rem;
    }
    .menu li {
        width: 90px;
    }
    .contenedor-detalle-propiedad {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenido-textos {
        width: 90%;
    }
    .imagen-detalle-propiedad {
        width: 90%;
    }
    .textos-form-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
    }
    .textos-form-header>.textos-header {
        align-self: center;
    }
    .form-header {
        align-self: center;
        width: 60%;
    }
    .contenedor-footer {
        flex-direction: column;
        border: none;
    }
    .content-foo {
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4 {
        border: none;
    }
    .content-foo p {
        color: #ccc;
        padding-bottom: 20px;
    }
    #mapa {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    header {
        background-position: center;
        height: 86rem;
    }
    nav {
        text-align: center;
        height: 400px;
        line-height: 400px;
        position: absolute;
    }
    .menu {
        float: none;
    }
    .menu li {
        width: 100%;
        height: 70px;
        line-height: 70px;
    }
    .textos-header {
        margin-top: 430px;
    }
    .textos-header h1 {
        font-size: 35px;
    }
    .textos-header h2 {
        font-size: 20px;
    }
    .textos-form-header {
        flex-direction: column;
        border: none;
    }
    .form-header {
        width: 90%;
    }
    /* Detalle Propiedad */
    .imagen-detalle-propiedad {
        margin-bottom: 60px;
        width: 98%;
    }
    .contenido-textos {
        width: 96%;
    }
    /* Footer */
    .contenedor-footer {
        flex-direction: column;
        border: none;
    }
    .content-foo {
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4 {
        border: none;
    }
    .content-foo p {
        color: #ccc;
        padding-bottom: 20px;
    }
    .titulo-final {
        font-size: 20px;
    }
}


/* Formulario */

form {
    width: 100%;
    color: #FFFFFF;
    background: #373B44;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4286f4, #373B44);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4286f4, #373B44);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px 25px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

form input,
form textarea {
    font: inherit;
    padding: 5px 5px;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

form button {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px 35px;
    font-size: 16px;
    background: #1E90FF;
    color: white;
    width: 100%;
    letter-spacing: .1em;
}

form label {
    color: #FFFFFF;
    font-size: 11px;
    margin-bottom: 2px;
    display: block;
}

form:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 3px;
    right: 3px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px white;
    font-size: 11px;
    padding: 18px;
    text-align: center;
    box-sizing: border-box;
    margin-top: -100px;
    transition: all .3s;
}

form.emailjs-success:after,
form.emailjs-sending:after,
form.emailjs-error:after {
    margin-top: 0;
    transition: all .3s;
    width: 33%;
    left: 34%;
}

form.emailjs-sending:after {
    content: 'Enviando email...';
    background: #e4e4e4;
    color: #696666;
    text-shadow: -1px -1px black;
}

form.emailjs-success:after {
    content: 'Email Enviado!';
    background: #15b41d;
    color: white;
    text-shadow: -1px -1px black;
    transition: all .3s;
}

form.emailjs-error:after {
    content: 'Error al Enviar email';
    background: #B71C1C;
    color: white;
    text-shadow: -1px -1px black;
}